<!DOCTYPE html>
<html lang="en">
  <head>
    {%block title%}{%endblock%}
    <link rel="icon" href="{{url_for('static', filename='imgs/logo.PNG')}}"/>
    {%block style%} {%endblock%}
    <!--fotter css-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/footer.css')}}"
    />
    <!--header css-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/header.css')}}"
    />
    <!--normalizing css elements properities-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/normalize.css')}}"
    />
    <!--google page font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" 
    rel="stylesheet"/>
    <!--google font icons-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <!--font awesome-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/all.min.css')}}"
    />
    <!--global rules-->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"
    />
    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo-links">
          <div class="logo-div">
            <img src="{{url_for('static', filename='imgs/logo.PNG')}}" />
            <div class="site-name">
              <span>NursePatient Hub</span>
            </div>
          </div>
          <div class="links">
            <ul>
              <li><a href="{{url_for('jobs')}}">jobs</a></li>
              <li><a href="{{url_for('healthTeaching')}}">Health teaching</a></li>
              <li><a href="{{url_for('about')}}">about</a></li>
            </ul>
          </div>
        </div>
        <div class="registeration">
          {% if current_user.is_authenticated%}
            <a href="{{url_for('logout')}}" class="logout">logout</a>
          {% else %}
            <a href="{{url_for('login')}}" class="login">login</a>
            <a href="{{url_for('signUp')}}" class="signUp">SignUp</a>
          {% endif %}
        </div>
      </div>
    </header>
      {%block flash%}
      {%endblock%}
      {%block content%}
      {%endblock%}
    <footer>
      <div class="container">
        <div class="footer-links">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-solid fa-envelope"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </footer>
    {%block script%}
    {%endblock%}
  </body>
</html>