<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>you are logged in</h1>
</body>
</html>
<!-- {% extends "base.html" %} -->
<!-- {%block style%}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/main.css') }}"
  />

  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/footer.css')}}"
  />

  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/header.css')}}"
  />

    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/userBase.css')}}"
  />
{%endblock%}
{% block title %}
<title>NPH</title>
{% endblock %}
{%block flash%}
  {%with messages = get_flashed_messages()%}
    {%for mess in messages%}
        {%if mess%}
          <div class="flash-message">{{mess}}</div>
        {%endif%}
    {%endfor%}
  {%endwith%}
{%endblock%}
{%block content%}
<main>
  <div class="container">
    <div class="landingNurseParagraph">
        <h2>level up your nursing knoweledge</h2>
        <h2>get ready for international exams </h2>
        <h2>find job opportunities</h2>
        <h2>and a lot more...</h2>
      </p>
    </div>
    <div class="home-photo">
      <img src="{{url_for('static', filename='imgs/home-photo.PNG')}}" />
    </div>
  </div>
</main>
{%endblock%}
{%block signup%}
<button class="logout">logout</button>
{%endblock%}
{%block script%}
<script src="{{url_for('static', filename='js/userBase.js')}}"></script>
<script>
let logout = document.querySelector(".registeration .logout");
logout.onclick = function () {
    let url = "http://127.0.0.1:5000/"
    location.href = url;
};
</script>
{%endblock%} -->