{%extends "base.html"%}
{%block title%}
    <title>HealthTeaching</title>
{%endblock%}
{%block style%}
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/healthTeaching.css')}}"/>
{%endblock%}
{%block content%}

<main class="ht-landing">
    <section class="container">
        <div class="parag-photo">
            <div class="explaination">
                <h1 class="healthTeaching">HealthTeaching</h1>
                <div class="ht-landig-parag">
                    <p>A professional Nurse? apply now for a nurse admin and answer
                        patients questions by populating health teaching and guidance
                    </p>
                    <p>
                        A patient? ask Nurses questions regarding your health concerns and get a
                        quick answer for free
                    </p>
                    <p>
                        An employer? explore Nurses abilities in different areas 
                        and hire high quality Nurses now
                    </p>
                </div>
                {%if current_user.is_authenticated%}
                    <div class="arrow">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                {%else%}
                    <div class="new_account">
                        <a href="{{url_for('signUp')}}" class="signUp">create a free acount now!</a>
                    </div>
                {%endif%}
          
            </div>

            <div class="ht-photo">
                <div class="ht-photo-features">
                    <div class="photo-div">
                        <img src="{{url_for('static', filename='imgs/healthTeaching.jpg')}}"/>
                    </div>
                    <h1>what can you do?</h1>
                    <div class="feature-sec">
                        <i class="fa-solid fa-square-check"></i>
                        <span class="description">a patient? <span class="marked">ask questions</span> and get an answer by a hight quality Nurses</span>
                    </div>
                    <div class="feature-sec">
                        <i class="fa-solid fa-square-check"></i>
                        <span class="description">a nurse? answer patients questions and populate <span class="marked">healthTeaching</span></span>
                    </div>
                    <div class="feature-sec">
                        <i class="fa-solid fa-square-check"></i>
                        <span class="description">an employer? <span class="marked">explore</span>Nurses abilities in different areas</span>
                    </div>
                </div>

            </div>
        </div>
        <div id="questionsToAnswer"class="still-not-answered">
            <h2>still not answered questions</h2>
            <div class="questions">
                <div class="a-question">
                    <h4>question1</h4>
                    <a href="#">answer</a>
                </div>
                <div class="a-question">
                    <h4>question1</h4>
                    <a href="#">answer</a>
                </div>
                <div class="a-question">
                    <h4>question1</h4>
                    <a href="#">answer</a>
                </div>
                <div class="a-question">
                    <h4>question1</h4>
                    <a href="#">answer</a>
                </div>
                <div class="a-question">
                    <h4>question1</h4>
                    <a href="#">answer</a>
                </div>
                <div class="a-question">
                    <h4>question1</h4>
                    <a href="#">answer</a>
                </div>
            </div>
        </div>
        <div class="options">
            <div class="populate">
                <div class="plus-logo">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <h4>populate teaching</h4>
            </div>
            <div class="ask">
                <div class="plus-logo">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <h4>Ask a question</h4>
            </div>
        </div>
        <div class="puplished-ht">
            <div class="a-ht">
                <img src="{{url_for('static', filename='imgs/healthTeaching.jpg')}}"/>
                <div class="ht-content">
                    <h2>title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, eius quam laudantium cum veniam aut laboriosam inventore dignissimos harum vel quaerat exercitationem explicabo ipsam deleniti accusantium voluptatem? Obcaecati, harum fuga?</p>
                </div>
            </div>
            <div class="a-ht">
                <img src="{{url_for('static', filename='imgs/ht2.jpg')}}"/>
                <div class="ht-content">
                    <h2>title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, eius quam laudantium cum veniam aut laboriosam inventore dignissimos harum vel quaerat exercitationem explicabo ipsam deleniti accusantium voluptatem? Obcaecati, harum fuga?</p>
                </div>
            </div>
            <div class="a-ht">
                <img src="{{url_for('static', filename='imgs/healthTeaching.jpg')}}"/>
                <div class="ht-content">
                    <h2>title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, eius quam laudantium cum veniam aut laboriosam inventore dignissimos harum vel quaerat exercitationem explicabo ipsam deleniti accusantium voluptatem? Obcaecati, harum fuga?</p>
                </div>
            </div>
        </div>
    </section>
</main>

{%endblock%}
{%block script%}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/healthTeaching.js')}}"></script>
{%endblock%}