{%extends "base.html"%}
{%block title%}
    <title>HealthTeaching</title>
{%endblock%}
{%block style%}
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/healthTeaching.css')}}"/>
{%endblock%}
{%block content%}

<main class="ht-landing">
    <section class="container">
        <div class="parag-photo">

            <div id="populate-popup" class="populate-popup">
                <form action="" method="post">
                    <div class="title-input-div">
                        <div class="lable-x">
                            <label for="title">title</label>
                            <i class="fa-solid fa-x"></i>
                        </div>
                        <input id="title"
                            name="ht-title"
                            type="text"
                            maxlength="100"
                            placeholder="title shouldn't exceed 100 character" 
                            required
                            class="title-input"
                        >
                    </div>
                    <div class="textarea-div">
                        <textarea
                        name="ht-content"
                        required
                        placeholder="write the content"
                        class="text-area-input"></textarea>
                    </div>
                    <div class="submit-div">
                        <input type="submit" vlaue="send">
                    </div>
                </form>
            </div>

            <div class="explaination">
                <h1 class="healthTeaching">HealthTeaching</h1>
                <div class="ht-landig-parag">
                    <p>A professional Nurse? apply now for a nurse admin and answer
                        patients questions by populating health teaching and guidance
                    </p>
                    <p>
                        A patient? ask Nurses questions regarding your health concerns and get a
                        quick answer for free
                    </p>
                    <p>
                        An employer? explore Nurses abilities in different areas 
                        and hire high quality Nurses now
                    </p>
                </div>
                {%if current_user.is_authenticated%}
                    <div class="options">
                        {%if current_user.userType == 'N'%}
                            <div class="styling-div">
                                <a class="popup-link" href="#answer_me">
                                    <div class="populate">
                                        <div class="plus-logo">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <h4>populate teaching</h4>
                                    </div>
                                </a>
                            </div>
                        {%else%}
                            <div class="styling-div">
                                <div class="populate">
                                    <div class="plus-logo-notNurse">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <h4>populate teaching</h4>
                                </div>
                            </div>
                        {%endif%}
                        {%if current_user.userType == 'P'%}
                            <div class="styling-div">
                                <div class="ask">
                                    <div class="plus-logo">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <h4>Ask a question</h4>
                                </div>
                                <div class="q-form">
                                    <form action="" method="post">
                                        <input
                                            required
                                            class="ques"
                                            type="text"
                                            name="patient-q"
                                            placeholder="write your question"
                                        >
                                        <input
                                            class="q-submit"
                                            type="submit"
                                            vlaue="send"
                                        >
                                    </form>
                                </div>
                            </div>
                        {%else%}
                            <div class="styling-div">
                                <div class="ask">
                                    <div class="plus-logo-not-patient">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <h4>Ask a question</h4>
                                </div>
                            </div>
                        {%endif%}
                    </div>
                {%else%}
                    <div class="options">
                        <div class="styling-div">
                            <div class="populate">
                                <div class="plus-logo-not">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <h4>populate teaching</h4>
                            </div>
                        </div>
                        <div class="styling-div">
                            <div class="ask">
                                <div class="plus-logo-not">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <h4>Ask a question</h4>
                            </div>
                        </div>
                    </div>
                {%endif%}
            </div>

            <div class="ht-photo">
                <div class="ht-photo-features">
                    <div class="photo-div">
                        <img src="{{url_for('static', filename='imgs/healthTeaching.jpg')}}"/>
                    </div>
                    <h1>what can you do?</h1>
                    <div class="feature-sec">
                        <i class="fa-solid fa-square-check"></i>
                        <span class="description">a patient? <span class="marked">ask questions</span> and get an answer by a hight quality Nurses</span>
                    </div>
                    <div class="feature-sec">
                        <i class="fa-solid fa-square-check"></i>
                        <span class="description">a nurse? answer patients questions and populate <span class="marked">healthTeaching</span></span>
                    </div>
                    <div class="feature-sec">
                        <i class="fa-solid fa-square-check"></i>
                        <span class="description">an employer? <span class="marked">explore</span>Nurses abilities in different areas</span>
                    </div>
                </div>

            </div>
        </div>

        <div id="questionsToAnswer" class="still-not-answered">
            <h2>still not answered questions</h2>
            <div id='answer_me' class="questions">
                {%for parchor in all_parchors%}
                    <div class="a-question">
                        {%if parchor.answer == 'empty'%}
                            <h4>{{parchor.question}}</h4>
                            <div class="answer-link">
                                {%if current_user.is_authenticated and current_user.userType == 'N'%}
                                    <a class='go-to-popup' href="">answer</a>
                                {%else%}
                                    <a class='no-popup' >answer</a>
                                {%endif%}
                            </div>
                        {%endif%}
                    </div>
                {%endfor%}
            </div>
        </div>
        <!-- <div class="options">
            <div class="populate">
                <div class="plus-logo">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <h4>populate teaching</h4>
            </div>
            <div class="ask">
                <div class="plus-logo">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <h4>Ask a question</h4>
            </div>
        </div> -->
        <div class="puplished-ht">
            {%for parchor in all_parchors%}
                {%if parchor.answer != 'empty' %}
                    <div class="a-ht">
                        <img src="{{url_for('static', filename='imgs/healthTeaching.jpg')}}"/>
                        <div class="ht-content">
                            <h2>{{parchor.question}}</h2>
                            <p>{{parchor.answer}}</p>
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
        </div>
    </section>
</main>

{%endblock%}
{%block script%}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/healthTeaching.js')}}"></script>
{%endblock%}