{%extends "base.html"%}
{%block style%}
    <!--jobs css-->
    <link
        rel="stylesheet"
        href="{{url_for('static', filename='css/jobs.css')}}"
    />
{%endblock%}
{%block title%}
    <title>Jobs</title>
{%endblock%}

{%block content%}
    {%if flag == 1%}
    <div>messi</div>
        {%with msgs = get_flashed_messages()%}
            {%for msg in msgs%}
                {%if msg%}
                    <div 
                    style="color: green; background-color: '{{color}}'; height: 40px;
                    display: flex; justify-content: center; align-items: center;">{{msg}}</div>
                {%endif%}
            {%endfor%}
        {%endwith%}
    {%endif%}
    <main class="main-jobs">
        <div class="container">
            <section class="jobs">
                <div class="jobs-landing">
                        {%if request.args.get(flag) == 0%}
                            {%with msgs = get_flashed_messages()%}
                                {%for msg in msgs%}
                                    {%if msg%}
                                        <small style="color: red;">{{msg}}</small>
                                    {%endif%}
                                {%endfor%}
                            {%endwith%}
                        {%endif%}
                    <h1> Find Job opportunities</h1>
                    <div class="add-an-opportunity">
                        <a class="application-link" href="{{url_for('applications')}}">
                            <div class="plus-logo">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <span>add an opportunity</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <main class="applications">
        <div class="container">
            <section class="job-applications">
                {%for apl in apls%}
                    <div class="applications-section">
                        <img src="{{url_for('static', filename='imgs/jobs-section.jpg')}}"/>
                        <div class="job-sec-data">
                            <h2>Position: {{apl.position}}</h2>
                            <h3>Salary: {{apl.salary}} </h3>
                            <h4>Country: {{apl.country}}</h4>
                            <h5>City: {{apl.city}}</h5>
                        </div>  
                    </div>
                {%endfor%}
            </section>
        </div>
    </main>
<!-- <i class="fa-solid fa-plus"></i> -->
{%endblock%}

{%block script%}
<script src="{{url_for('static', filename='js/jobs.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{%endblock%}