{%extends "base.html"%}
{%block style%}
    <!--jobs css-->
    <link rel="stylesheet"
    href="{{url_for('static', filename='css/jobs.css')}}"/>
      <!--fotter css-->
    <link
    rel="stylesheet"
     href="{{url_for('static', filename='css/footer.css')}}"
    />
    <!--header css-->
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/header.css')}}"
    />
{%endblock%}
{%block title%}
<title>Jobs</title>
{%endblock%}
{%block signup%}
    <button class="login">login</button>
    <button class="signUp">SignUp</button>
{%endblock%}
{%block content%}
<main class="main-jobs">
    <div class="container">
        <section class="jobs">
            <div class="jobs-landing">
                <h1> Find Job opportunities</h1>
                <div class="add-an-opportunity">
                    <div class="plus-logo">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <span>add an oppotunity</span>
                </div>
            </div>
        </section>
    </div>
</main>
<main>
    <div class="container">
        <section class="job-applications">
            <div class="applications-section">
                <div class="">
                    
                </div>
            </div>
        </section>
    </div>
</main>
<!-- <i class="fa-solid fa-plus"></i> -->
{%endblock%}
{%block script%}
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
{%endblock%}