{% extends "base.html" %}

{%block title%}
<title>login</title>
{%endblock%}

{%block style%}
    <!--login css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"/>
    <!--fotter css-->
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/footer.css')}}"
    />
    <!--header css-->
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/header.css')}}"
    />
{% endblock %}

{%block content%} 

    <div class="container">
        <div class="login-div">
            {%with messages = get_flashed_messages()%}
            <form class="login-form" action="" method="post">
                {%for mess in messages%}
    {%if mess%}
        <div class="flash-message">{{mess}}</div>
    {%endif%}
{%endfor%}
{%endwith%}
                <h3>Login</h3>
                <div class="email-login">
                    <i class="fa-regular fa-envelope"></i>
                    <input name="email" type="Email" placeholder="Email" required />
                </div>
                <div class="pass-login">
                    <i class="fa-solid fa-shield-halved"></i>
                    <input name="password" type="text" placeholder="password" required />
                </div>
                <div class="submit-login">
                    <input type="submit" name="submit" value="SignUp" />
                  </div>
                  <div class="signup-using-media">
                    <div class="using-media">
                        <span class="using-media-span">or SignUp Using</span>
                    </div>
                    <div class="media-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                  </div>
            </form>
        </div>
        <div class="nursepatinethub">
            <span>NursePatientHub</span>
        </div>
    </div>
{% endblock %}
{%block script%}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{%endblock%}