{% extends "base.html" %}

{%block title%}
    <title>login</title>
{%endblock%}

{%block style%}
    <!--login css-->
    <link
        rel="stylesheet" 
        href="{{url_for('static', filename='css/login.css')}}"
    />
{% endblock %}
{%block content%} 
    <div class="container">
        <div class="login-div">
            <form class="login-form" action="" method="post">
                {{form.hidden_tag()}}

                {%with messages = get_flashed_messages()%}
                    {%for mess in messages%}
                        {%if mess%}
                            <div class="flash-message">{{mess}}</div>
                        {%endif%}
                    {%endfor%}
                {%endwith%}

                <h3>Login</h3>
                <div class="email-login">
                    <i class="fa-regular fa-envelope"></i>
                    <div class="input-error">
                        {%if form.email.errors%}
                            {{form.email(class='email invalide')}}
                        {%else%}
                            {{form.email(class='email')}}
                        {%endif%}
                        {%for err in form.email.errors%}
                            <small class-="error-message">{{err}}</small>
                        {%endfor%}
                    </div>
                </div>

                <div class="pass-login">
                    <i class="fa-solid fa-shield-halved"></i>
                    <div class="input-error">
                        {%if form.password.errors%}
                            {{form.password(class='password invalide')}}
                        {%else%}
                            {{form.password(class='password')}}
                        {%endif%}
                        {%for err in form.password.errors%}
                            <small class="error-message">{{err}}</small>
                        {%endfor%}
                    </div>
                </div>

                <div class="remember_me-div">
                    {%if form.remember.errors%}
                        {{form.remember(class='remember invalide')}}
                    {%else%}
                        {{form.remember(class='remember')}}
                    {%endif%}
                    {{form.remember.label(class='lable-remember')}}
                    {%for err in form.remember.errors%}
                        <small class="error-message">{{err}}</small>
                    {%endfor%}
                </div>
                
                <div class="submit-login">
                    {{form.submit(class='submit-btn')}}
                </div>

                <div class="signup-using-media">
                    <div class="using-media">
                        <span class="using-media-span">or SignUp Using</span>
                    </div>
                    <div class="media-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="dont-have-account">
                    <span>don't have an account ?</span>
                    <div class="signUp-now">
                        <a href="http://127.0.0.1:5000/signUp">signUp</a>
                        <span>now</spans>
                    </div>
                </div>
            </form>
        </div>
        <div class="nursepatinethub">
            <span>NursePatientHub</span>
        </div>
    </div>
{% endblock %}
{%block script%}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{%endblock%}