{% extends "base.html" %}

{%block title%}
<title>login</title>
{%endblock%}

{%block style%}
    <!--login css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"/>
    <!--fotter css-->
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/footer.css')}}"
    />
    <!--header css-->
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/header.css')}}"
    />
{% endblock %}

{%block content%} 
    <div class="container">
        {%with messages = get_flashed_messages()%}
            {%for mess in messages%}
                {%if mess%}
                    <div class="flash-message">{{mess}}</div>
                {%endif%}
            {%endfor%}
        {%endwith%}
        <div class="login">
            <form action="" method="post">
                <div class="email-input-div">
                    <i class="fa-regular fa-envelope"></i>
                    <input name="email" type="Email" placeholder="Email" required />
                </div>
                <div class="pass-input-div">
                    <i class="fa-solid fa-user-secret"></i>
                    <input name="name" type="text" placeholder="ursename" required />
                </div>
            </form>
        </div>
    </div>
{% endblock %}