{% extends "base.html" %}

{%block titlt%}
<title>SignUp</title>
{%endblock%}

{% block style %}
  <!--sign up css-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static', filename='css/signUp.css')}}"
  />
  <!--fotter css-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static', filename='css/footer.css')}}"
  />
  <!--header css-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static', filename='css/header.css')}}"
  />
{% endblock %} 
{%block signup%}
  <button class="login">login</button>
  <button class="signUp">SignUp</button>
{%endblock%}

{% block content %}
<main class="registration">
  <div class="container">
    <section class="form-section">
      <div class="join-us">
        <i class="fa-solid fa-user-plus"></i>
        <h2>Join us now</h2>
      </div>
      <div class="form-div">
        <form action="" class="the_form" method="POST">

          {{ form.hidden_tag() }}

          <div class="username-input-div">
            <i class="fa-solid fa-user-secret"></i>
            {%if form.username.errors%}
              {{form.username(class="username invalide")}}
              {%for error in form.username%}
                <span class="error-message">{{error}}</span>
              {%endfor%}
            {%else%}
              {{form.username(class="username")}}
            {%endif%}
          </div>

          <div class="email-input-div">
            <i class="fa-regular fa-envelope"></i>
            {%if form.email.errors%}
              {{form.email(class="email invalide")}}
                {%for error in form.email%}
                  <span class="error-message">{{error}}</span>
                {%endfor%}
            {%else%}
              {{form.email(class="email")}}
            {%endif%}
          </div>

          <div class="password-input-div">
            <i class="fa-solid fa-shield-halved"></i>
            {%if form.password.errors%}
              {{form.password(class="password invalide")}}
                {% for err in form.password %}
                  <span class="error-message">{{err}}</span>
                {% endfor %}
            {%else%}
              {{form.password(class='password')}}
            {%endif%}
          </div>

          <div class="confirm-pass-div">
            <i class="fa-solid fa-shield"></i>
            {%if form.confirm_password.errors%}
              {{form.confirm-password(class="confirm-pass invalide")}}
              {%for err in form.confirm_password%}
                <span class="error-message">{{err}}</span>
              {%endfor%}
            {%else%}
              {{form.confirm_password(class="confirm_pass")}}
            {%endif%}
          </div>
          <div class="userType-div">
            <span class="q">what best describe you?</span>

            {%if form.userType.errors%}
              <div class="checks">
                {{form.userType(class="check-list invalide")}}
              </div>
                  {%for err in form.userType%}
                    <span>{{err}}</span>
                  {%endfor%}
            {%else%}
              <div class="checks">
                {{form.userType(class='check-list')}}
              </div>
            {%endif%}
          </div>
          <div class="submit-input-div">
            {{form.submit(class="submit-btn")}}
          </div>
          
          <div class="signup-using-media">
            <div class="using-media">
                <span class="using-media-span">or SignUp Using</span>
            </div>
            <div class="media-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-google"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="signUp-photo">
      {%with messages = get_flashed_messages()%}
        {%for mess in messages%}
            {%if mess%}
              <div class="flash-message">{{mess}}</div>
            {%endif%}
        {%endfor%}
      {%endwith%}
      <img src="{{url_for('static', filename='imgs/signUp.PNG')}}" />
    </section>
  </div>
</main>
{% endblock %}
{%block script%}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/signUp.js')}}"></script> -->
{%endblock%}


