{% extends "userBase.html" %}
{%block title%}
<title>NPH</title>
{%endblock%}
{%block style%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/userType.css')}}"/>
{%endblock%}
{%block content%}
<div class = 'container'>
    <div class="description">
        <h1 class="question">what best descripe you {{name}} ?</h1>
        <div class="a-nurse type-sec">
            <div class="two-nurses">
                <img src="{{url_for('static', filename='imgs/a-nurse.PNG')}}"/>
                <img src="{{url_for('static', filename='imgs/hijab.PNG')}}"/>
            </div>
            <h3 class="nurse-h3">
                Nurse
            </h3>
        </div>
        <div class="a-patient type-sec">
            <img src="{{url_for('static', filename='imgs/a-patient.png')}}"/>
            <h3 class="nurse-h3">
                Patient
            </h3>
        </div>
        <div class="a-student type-sec">
            <img src="{{url_for('static', filename='imgs/a-student.PNG')}}"/>
            <h3 class="nurse-h3">
                Student
            </h3>
        </div>
        <div class="an-employer type-sec">
            <img src="{{url_for('static', filename='imgs/an-employer.PNG')}}"/>
            <h3 class="nurse-h3">
                Employer
            </h3>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/signUp.js')}}"></script>
<script src="{{url_for('static', filename='js/userType.js')}}"></script>
{%endblock%}

