header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

header .container {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-links {
    /* background-color: red; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-links .logo-div {
    /* background-color: green; */
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-links .logo-div:hover {
    cursor: pointer;
}

.logo-links .logo-div img {
    width: 50px;
    height: 50px;
}

.logo-links .logo-div .site-name {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-links .logo-div span {
    font-size: 25px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.logo-links .links {
    /* background-color: beige; */
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-links .links ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0;
    margin: 0;
    list-style: none;
    list-style: none;
}

.logo-links .links ul a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.logo-links .links ul a:hover {
    font-size: 20px;
    color: #068932;
}

.registeration {
    /* background-color: brown; */
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.registeration button {
    background-color: #068932;
    color: white;
    font-weight: bold;
    width: 40%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: 0.4s;
}

.registeration button:hover {
    cursor: pointer;
    font-size: 20px;
}