main {
    position: relative;
}

.ht-landing .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.ht-landing .container .parag-photo {
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ht-landing .container .parag-photo .explaination {
    position: relative;
    width: 50%;
    padding: 20px;
    background-color: #ffffff00;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}

.ht-landing .container .parag-photo .explaination .options {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.ht-landing .container .parag-photo .explaination .options .styling-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ht-landing .container .parag-photo .explaination .options .styling-div a {
    text-decoration: none;
    color: black;
}

.q-form {
    width: 100%;
    display: none;
}

.q-form input:first-child {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.q-submit {
    margin-top: 5px;
    background-color: #8ed1fc;
    width: 20%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}

.q-submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ht-landing .container .parag-photo .explaination .options .populate,
.ask {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-right: 5px;
    transition: 0.3s;
}

.populate-popup {
    position: absolute;
    z-index: 9;
    left: 15%;
    top: 50%;
    padding: 10px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid rgb(159, 157, 157);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
    display: none;
}

.populate-popup .title-input-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.populate-popup .title-input-div .lable-x {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populate-popup .title-input-div .lable-x label {
    display: flex;
    font-size: 20px;
}

.populate-popup .title-input-div .lable-x i {
    font-size: 20px;
}

.populate-popup .title-input-div .lable-x i:hover {
    cursor: pointer;
    color: grey;
}

.populate-popup .title-input-div input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}

.populate-popup .textarea-div {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.populate-popup .textarea-div textarea {
    width: 100%;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.populate-popup .submit-div {
    width: 100%;
    margin-top: 5px;
}

.populate-popup .submit-div input {
    border: 1px solid black;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    background-color: #8ed1fc;
    font-size: 20px;
    font-weight: bold;
}

.populate-popup .submit-div input:hover {
    cursor: pointer;
    opacity: 0.8;
}

.plus-logo,
.plus-logo-not,
.plus-logo-notNurse,
.plus-logo-not-patient {
    padding: 7px;
    border: 2px solid grey;
    border-radius: 11px;
    transition: 0.3s;
}

.plus-logo i,
.plus-logo-not i,
.plus-logo-notNurse i,
.plus-logo-not-patient i {
    font-size: 20px;
}

.plus-logo:hover,
.plus-logo-not:hover,
.plus-logo-notNurse:hover,
.plus-logo-not-patient:hover {
    cursor: pointer;
    background-color: rgb(225, 232, 237);
}

.ht-landing .container .parag-photo .explaination .populate h4,
.ask h4 {
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.ht-landing .container .parag-photo .explaination .healthTeaching {
    width: 100%;
    font-size: 70px;
    display: flex;
    height: fit-content;
    margin: 0px;
}

.ht-landing .container .parag-photo .explaination .healthTeaching .ht-landig-parag {
    width: 100%;
    display: flex;
}

.ht-landing .container .parag-photo .explaination p {
    display: flex;
    font-weight: 400;
}

.ht-landing .container .parag-photo .ht-photo {
    width: 50%;
    height: 100vh;
    background-color: #007aff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 90%;
    border: 1px solid green;
    border-radius: 10px;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features .photo-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #8ed1fc;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features img {
    border-radius: 10px;
    width: 80%;
    height: 200px;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features h1 {
    width: 100%;
    padding-left: 10px;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features .feature-sec {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features .feature-sec .marked {
    color: #007aff;
    font-weight: bold;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features .feature-sec i {
    color: green;
}

.ht-landing .container .parag-photo .ht-photo .ht-photo-features .feature-sec .description {
    width: 90%;
}

/**/
.ht-landing .container .still-not-answered {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.only-nurses {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ht-landing .container .still-not-answered h2 {
    margin: 0px;
    padding: 5px;
    margin-bottom: 0px;
    display: flex;
    border-bottom: 3px solid grey;
    flex-wrap: wrap;
}

.ht-landing .container .still-not-answered .questions {
    padding: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.ht-landing .container .still-not-answered .questions .a-question {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height: fit-content;
}

.ht-landing .container .still-not-answered .questions .a-question h4 {
    margin: 0px;

}

.ht-landing .container .still-not-answered .questions .a-question .answer-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.ht-landing .container .still-not-answered .questions .a-question .answer-link small {
    margin-right: 5px;
}

.ht-landing .container .still-not-answered .questions .a-question .answer-link a {
    padding: 5px;
    height: 30px;
    display: flex;
    color: black;
    background-color: #8ed1fc;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.ht-landing .container .still-not-answered .questions .a-question a:hover {
    cursor: pointer;
    color: white;
    font-size: larger;
}

.ht-landing .container .puplished-ht {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ht-landing .container .puplished-ht .a-ht {
    width: 30%;
    background-color: rgb(230, 251, 252);
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 3.3%;
    margin-top: 10px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}

.ht-landing .container .puplished-ht .a-ht:hover {
    cursor: pointer;
    opacity: 0.9;
    margin-bottom: 10px;
}

.ht-landing .container .puplished-ht .a-ht img {
    border-radius: 5px;
    width: 100%;
}

.ht-landing .container .puplished-ht .a-ht .ht-content {
    padding: 10px;
}

.ht-landing .container .puplished-ht .a-ht .ht-content h2 {
    margin: 0px;
}

.ht-landing .container .puplished-ht .a-ht .ht-content p {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}