.main-jobs {
    height: 500px;
    width: 100%;
    background-image: url('../imgs/jobsfinal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-end;
}

.main-jobs .container {
    display: flex;
    align-items: flex-end;
}

.jobs {
    display: flex;
    height: 100%;
    width: 100%;
    height: fit-content;
}

.jobs-landing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.jobs-landing h1 {
    height: fit-content;
    width: 100%;
    margin-bottom: 0px;
}

.add-an-opportunity {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: 20%;
}

.application-link {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.plus-logo {
    padding: 7px;
    border: 2px solid grey;
    border-radius: 11px;
    transition: 0.3s;
}

.plus-logo:hover {
    cursor: pointer;
    background-color: rgb(222, 217, 217);
}

.add-an-opportunity i {
    font-size: 20px;
}

.add-an-opportunity span {
    font-size: 20px;
    font-weight: bold;
}

.applications {
    margin-top: 20px;
}

.applications .container {
    display: flex;
    align-items: center;
}

.applications .container .job-applications {
    padding: 15px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.applications .container .job-applications .applications-section {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid green;
    border-radius: 0px 0px 10px 10px;
    transition: 0.3s;
    margin-top: 10px;
    margin-right: 3.33%;
}

.applications .container .job-applications .applications-section:hover {
    opacity: 0.7;
    cursor: pointer;
    margin-top: 5px;
}

.applications .container .job-applications .applications-section img {
    width: 100%;
    height: 200px;
}

.applications .container .job-applications .applications-section .job-sec-data {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.applications .container .job-applications .applications-section .job-sec-data h2,
h3,
h4,
h5 {
    margin: 0px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}