.main-jobs {
    height: 500px;
    width: 100%;
    /* height: 100vh; */
    /* background-color: yellow; */
    background-image: url('../imgs/jobsfinal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-end;
}

.main-jobs .container {
    /* background-color: red; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    align-items: flex-end;
}

.jobs {
    display: flex;
    /* align-items: flex-end; */
    height: 100%;
    /* background-color: green; */
    width: 100%;
    height: fit-content;
}

.jobs-landing {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    /* background-color: orange; */
    /* position: relative; */
    /* height: 100vh; */
}

.jobs-landing h1 {
    /* background-color: blue; */
    height: fit-content;
    width: 100%;
    margin-bottom: 0px;

}

.add-an-opportunity {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    height: fit-content;
    width: 20%;

}

.application-link {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.plus-logo {
    padding: 7px;
    border: 2px solid grey;
    border-radius: 11px;
    /* background-color: brown; */
    transition: 0.3s;
}

.plus-logo:hover {
    cursor: pointer;
    background-color: rgb(222, 217, 217);

}

.add-an-opportunity i {
    font-size: 20px;
    /* background-color: aliceblue; */
}

.add-an-opportunity span {
    /* background-color: yellow; */
    /* width: 75%; */
    font-size: 20px;
    font-weight: bold;
    /* background-color: aliceblue; */
}

.applications {
    margin-top: 20px;
    /* background-color: red; */
}

.applications .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ebeced; */
}

.applications .container .job-applications {
    padding: 15px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: red; */

}

.applications .container .job-applications .applications-section {
    /* background-color: green; */
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid green;
    border-radius: 0px 0px 10px 10px;
    transition: 0.3s;
    margin-top: 10px;
}

.applications .container .job-applications .applications-section:hover {
    opacity: 0.7;
    cursor: pointer;
    margin-top: 5px;
}

.applications .container .job-applications .applications-section img {
    width: 100%;
    height: 200px;
}

.applications .container .job-applications .applications-section .job-sec-data {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.applications .container .job-applications .applications-section .job-sec-data h2,
h3,
h4,
h5 {
    margin: 0px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}