.flash-message {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(208 89 89); */
    color: white;
}

.container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-div {
    padding: 15px;
    width: 60%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */

}

.login-div h3 {
    /* background-color: antiquewhite; */
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 40%;
}

.container .login-form {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    width: 80%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 2px 2px #068932;
    border: 2px solid green;
}

.login-div .email-login,
.pass-login {
    width: 90%;
    /* height: 30%; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
}

.login-div .pass-login {}

.login-div .email-login i,
.pass-login i {
    color: rgb(13, 141, 2);
    font-size: 25px;
    width: 10%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-div input {
    width: 85%;
    padding: 10px;
    border: 1px solid rgb(13, 141, 2);
    border-radius: 7px;
}

.login-div .email-login {}

.login-div .pass-login {}

.submit-login {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.submit-login input {
    background-color: #068932;
    font-weight: bold;
    font-size: 25px;
}

.signup-using-media {
    padding: 15px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.signup-using-media .using-media {
    /* background-color: red; */
    width: 80%;
    /* font-size: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-using-media .media-icons {
    margin-top: 7px;
    /* background-color: blue; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-using-media .media-icons i {
    /* color: beige; */
    font-size: 20px;
    /* background-color: blue; */

}

.nursepatinethub {
    /* background-color: yellow; */
    display: flex;
    font-size: 60px;
    width: 50%;
    justify-content: center;
    align-items: center;
}