main {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

main .container {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .landingNurseParagraph {
    /* background-color: beige; */
    /* background-color: blue; */
    width: 40%;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .home-photo {
    /* background-color: red; */
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

main .home-photo img {
    /* background-color: yellow; */
    width: 100%;
}