.container {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-section {
    /* background-color: blue; */
    width: 45%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-section .join-us {
    padding: 20px;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-section .join-us i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #068932;
    width: 100%;
}

.form-section .join-us h2 {
    margin: 0px;
}

.form-section .form-div {
    padding: 10px;
    height: 80%;
    margin-top: 0px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-section form {
    border: 2px solid #068932;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-div form .username-input-div,
.email-input-div,
.password-input-div,
.confirm-pass-div {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.input-and-error {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.form-section form input {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid green;
    border-radius: 15px;
}

.form-div form i {
    color: green;
    font-size: 20px;
}

.form-div form .submit-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.check-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: white; */
    width: 100%;
}

.check-list li {
    width: 30%;
    display: flex;
    /* background: red; */
    justify-content: space-around;
    align-items: center;
}

.check-list li input {
    /* border: 5px solid green; */
    height: 20px;
    width: 20px;
}


.userType-div {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #068932; */
}

.userType-div .q {
    width: 100%;
}

.invalide {
    /* border: 0px solid grey; */
    outline: 3px solid red;
}

small {
    color: red;
    width: 100%;
    display: block;
    padding-left: 5px;
}

.userType {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userType .aType {
    width: 100%;
}

.form-div form .submit-input-div input {
    background-color: #068932;
    font-size: 20px;
    color: white;
    font-weight: 500px;
    transition: 0.5s;
}

.form-div form .submit-input-div input:hover {
    cursor: pointer;
    font-size: 25px;
    color: rgb(1, 16, 1);
}

.signUp-photo {
    width: 45%;
}

.signUp-photo img {
    width: 100%;
}

.signup-using-media {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.signup-using-media .using-media {
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #068932; */
}

.signup-using-media .media-icons {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-using-media .media-icons i {
    /* color: beige; */
    font-size: 20px;
    /* background-color: blue; */
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-using-media .media-icons i:hover {
    cursor: pointer;
}