.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.description .question {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.type-sec {
    width: 51%;
    /* background-color: #fcfcfc; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: 1px solid rgb(11, 232, 11); */
    border-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a-nurse {
    display: flex;
    justify-content: space-evenly;
}

.two-nurses {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.two-nurses img {
    /* width: 50%; */
    height: inherit;
}

.type-sec img {
    /* background-color: yellow; */
    height: 200px;
    transition: 0.5s;
}

img:hover {
    height: 220px;
    cursor: pointer;
}

.type-sec h3 {
    font-weight: bold;
    font-size: 40px;
    /* background-color: brown; */
    transition: 0.5s;
}

.type-sec h3:hover {
    cursor: pointer;
    font-size: 50px;

}