.registeration .logout {
    background-color: rgb(145, 6, 6);
}

.flash-message {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 208, 91);
    color: white;
}