.description {
    height: 150%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.description .question {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.type-sec {
    width: 50%;
    height: 30%;
    background-color: rgb(199, 196, 196);
    padding: 20px;
    border: 5px solid green;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.type-sec img {
    width: 50%;
    height: inherit;
}

.type-sec h3 {}